<div class="container">
    <div class="col-md-5">
        <div class="well bs-component">
            <form class="form-horizontal">
                <fieldset>
                    <legend>Sign in</legend>
                    <md-input-container>
                        <label for="username" class="col-lg-2 control-label">Current password</label>
                        <input type="password" ng-model="changePasswordData.oldPassword">
                    </md-input-container>

                    <md-input-container>
                        <label for="newPassword" class="col-lg-2 control-label">New password</label>
                        <input type="password" ng-model="changePasswordData.newPassword">
                    </md-input-container>

                    <md-input-container>
                        <label for="confirmNewPassword" class="col-lg-2 control-label">Confirm new password</label>
                        <input type="password" ng-model="changePasswordData.confirmPassword">
                    </md-input-container>

                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-8">
                            <md-button class="md-raised md-primary md-button md-default-theme" ng-click="changePassword(changePasswordData)" ng-transclude>Change password</md-button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>