<div class="container col-xs-11" ng-cloak="">
    <form class="col-xs-10 col-centered clearfix">
        <div id="image" class="col-md-4 col-xs-12 clearfix">
            <div class="profile-image col-lg-12" ng-if="profileImage">
                <img ng-src="{{ profileImageData }}">
            </div>
            <div class="profile-image col-xs-12" ng-if="!profileImage">
                <img style="background: black" ng-src="../img/home.png"/>    
            </div>
            <div class="caption">
                <p>Allowed formats: .jpg</p>
                <p>Limit: 128kb</p>
            </div>
            <md-input-container>
                <md-button>
                    Select image
                    <input onchange="angular.element(this).scope().uploadNewProfilePicture(this)" type="file" id="select-profile-image" accept="image/jpg">
                </md-button>
            </md-input-container>
            <md-button class="md-raised md-primary md-button md-default-theme" ng-transclude ng-click="clickUploadNewProfilePicture()" type="button" id="upload-profile_image">Upload</button>
        </div>
        <div id="other-info" class="col-md-7 col-xs-12">
            <label for="editName" class="col-md-4 col-xs-12">Name</label>
            <input class="col-md-8 col-xs-12" type="text" name="editName" ng-model="name" />

            <label for="editEmail" class="col-md-4 col-xs-12">Email</label>
            <input class="col-md-8 col-xs-12" type="email" name="editEmail" ng-model="email" />

            <label class="col-md-4 col-xs-12">Gender</label>
            <div id="radio-btns" class="col-md-8 col-xs-12">
                <input value="male" ng-checked="male" name="registerGender" type="radio" ng-model="gender" /> Male
                <input value="female" ng-checked="female" name="registerGender" type="radio" ng-model="gender" /> Female
                <input value="other" ng-checked="other" name="registerGender" type="radio" ng-model="gender" /> Other
            </div>

            <md-input-container>
                <md-button>
                    Select image
                        <input onchange="angular.element(this).scope().uploadBackgroundImage(this)" type="file" id="select-bg-image" />
                </md-button>
            </md-input-container>

            <div class="upload clearfix col-sm-4 col-xs-12">
                <md-button class="md-raised md-primary md-button md-default-theme" ng-transclude ng-click="clickUploadBackgroundImage()" type="button">Upload</button>
                <p class="caption">Limit: 1024kb</p>
            </div>
            <div class="background-image col-sm-8 col-xs-12" ng-if="coverImage">
                <img ng-src="{{ coverImageData }}"/>
            </div>
            <div class="background-image col-sm-8 col-xs-12" ng-if="!coverImage">
                <img src="../images/no-bg-image.jpg"/>
            </div>

        </div>

        <md-button class="md-raised md-primary md-button md-default-theme" ng-click="login(loginData)" ng-transclude>Save changes</md-button>
    </form>
</div>