<div class="container col-xs-11" ng-cloak="">
    <!-- <form class="col-xs-10 col-centered clearfix">
        <div id="image" class="col-md-4 col-xs-12 clearfix">
            <div class="profile-image col-lg-12" ng-if="profileImage">
                <img ng-src="{{ profileImageData }}">
            </div>
            <div class="profile-image col-xs-12" ng-if="!profileImage">
                <img style="background: black" ng-src="../img/home.png"/>    
            </div>
            <div class="caption">
                <p>Allowed formats: .jpg</p>
                <p>Limit: 128kb</p>
            </div>
            <md-input-container>
                <md-button>
                    Select image
                    <input onchange="angular.element(this).scope().uploadNewProfilePicture(this)" type="file" id="select-profile-image" accept="image/jpg">
                </md-button>
            </md-input-container>
            <md-button class="md-raised md-primary md-button md-default-theme" ng-transclude ng-click="clickUploadNewProfilePicture()" type="button" id="upload-profile_image">Upload</button>
        </div>
        <div id="other-info" class="col-md-7 col-xs-12">
            <label for="editName" class="col-md-4 col-xs-12">Name</label>
            <input class="col-md-8 col-xs-12" type="text" name="editName" ng-model="name" />

            <label for="editEmail" class="col-md-4 col-xs-12">Email</label>
            <input class="col-md-8 col-xs-12" type="email" name="editEmail" ng-model="email" />

            <label class="col-md-4 col-xs-12">Gender</label>
            <md-radio-group>
                <div class="col-lg-10">
                    <md-radio-button ng-model="registerData.gender" ng-value="1" aria-label="Male">
                        Male
                    </md-radio-button>
                    
                    <md-radio-button ng-model="registerData.gender" ng-value="0" aria-label="Female">
                        Female
                    </md-radio-button>
                </div>
            </md-radio-group>

            <span flex></span>

            <md-input-container>
                <md-button>
                    Select image
                        <input onchange="angular.element(this).scope().uploadBackgroundImage(this)" type="file" id="select-bg-image" />
                </md-button>
            </md-input-container>

            <div class="upload clearfix col-sm-4 col-xs-12">
                <md-button class="md-raised md-primary md-button md-default-theme" ng-transclude ng-click="clickUploadBackgroundImage()" type="button">Upload</button>
                <p class="caption">Limit: 1024kb</p>
            </div>
            <div class="background-image col-sm-8 col-xs-12" ng-if="coverImage">
                <img ng-src="{{ coverImageData }}"/>
            </div>
            <div class="background-image col-sm-8 col-xs-12" ng-if="!coverImage">
                <img src="../images/no-bg-image.jpg"/>
            </div>

        </div>

        <md-button class="md-raised md-primary md-button md-default-theme" ng-click="login(loginData)" ng-transclude>Save changes</md-button>
    </form> -->

    <div class="col-md-5">
        <div class="well bs-component">
            <form class="form-horizontal">
                <fieldset>
                    <div ng-if="profileImage">
                        <img ng-src="{{ profileImageData }}">
                    </div>
                    <div ng-if="!profileImage">
                        <img style="background: black" ng-src="../img/home.png"/>    
                    </div>
                    <div class="caption">
                        <p>Allowed formats: .jpg</p>
                        <p>Limit: 128kb</p>
                    </div>
                    <md-input-container>
                        <md-button>
                            Select image
                            <input onchange="angular.element(this).scope().uploadNewProfilePicture(this)" type="file" id="select-profile-image" accept="image/jpg">
                        </md-button>
                    </md-input-container>


                    <md-button class="md-raised md-primary md-button md-default-theme" ng-transclude ng-click="clickUploadNewProfilePicture()" type="button" id="upload-profile_image">Upload</md-button>

                    <md-input-container>
                        <md-button>
                            Select image
                                <input onchange="angular.element(this).scope().uploadBackgroundImage(this)" type="file" id="select-bg-image" />
                        </md-button>
                    </md-input-container>

                    <div class="upload clearfix col-sm-4 col-xs-12">
                        <md-button class="md-raised md-primary md-button md-default-theme" ng-transclude ng-click="clickUploadBackgroundImage()" type="button">Upload</md-button>
                        <p class="caption">Limit: 1024kb</p>
                    </div>
                    <div class="background-image col-sm-8 col-xs-12" ng-if="coverImage">
                        <img ng-src="{{ coverImageData }}"/>
                    </div>
                    <div class="background-image col-sm-8 col-xs-12" ng-if="!coverImage">
                        <img src="../images/no-bg-image.jpg"/>
                    </div>


                </fieldset>
            </form>
        </div>
    </div>

    <div class="col-md-7">
        <div class="well bs-component">
            <form class="form-horizontal">
                <fieldset>
                    <md-input-container>
                        <label for="username" class="col-lg-2 control-label">Username</label>
                         <input type="text" ng-model="registerData.username">
                    </md-input-container>

                    <md-input-container>
                        <label for="username" class="col-lg-2 control-label">Password</label>
                         <input type="password" ng-model="registerData.password">
                    </md-input-container>

                    <md-input-container>
                        <label for="username" class="col-lg-2 control-label">Confirm password</label>
                         <input type="password" ng-model="registerData.confirmedPassword">
                    </md-input-container>


                    <md-input-container>
                        <label for="username" class="col-lg-2 control-label">Name</label>
                         <input type="text" ng-model="registerData.fullName">
                    </md-input-container>

                    <md-input-container>
                        <label for="username" class="col-lg-2 control-label">Email</label>
                         <input type="text" ng-model="registerData.email">
                    </md-input-container>

                    <md-radio-group>
                        <div class="col-lg-10">
                            <md-radio-button ng-model="registerData.gender" ng-value="1" aria-label="Male">
                                Male
                            </md-radio-button>
                            
                            <md-radio-button ng-model="registerData.gender" ng-value="0" aria-label="Female">
                                Female
                            </md-radio-button>
                        </div>
                    </md-radio-group>

                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-8">
                            <md-button class="md-raised md-primary md-button md-default-theme" ng-click="register(registerData)" ng-transclude>Save changes</md-button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>